:root {
    --offset: 8px;
    --one-half-offset: 12px;
    --double-offset: 16px
}

.InputBar__wrapper {
    display: flex;
}

.InputBar_input {
    font-size: 1em;
    padding: var(--offset) var(--double-offset);
    width: 100%;
}

.InputBar_button {
    padding-left: var(--one-half-offset);
    padding-right: var(--one-half-offset);
}