.CalendarBody {
    position: relative;
}

.CalendarBody__wrapper {
    margin-top: 30px;
    border: 1px solid rgba(0, 0, 0, .2);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(30px, auto);
}

.CalendarBody__row__week {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CalendarBody__row__date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    position:relative;
}

.CalendarBody__row__date:hover {
    background-color: rgba(0, 0, 0, .2);
}

.CalendarBody__row__date_current {
    display: block;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
}

.vis__hidden {
    visibility: hidden;
}